services:

  mysqlbinlog:
    image: proxysql/proxysql-mysqlbinlog:build-${IMG_NAME}
#    build: ./docker/build/build-${IMG_NAME}
    volumes:
      - ./docker/build/:/opt/entrypoint/
      - ./:/opt/proxysql_mysqlbinlog/
    environment:
      - PKG_DIST=${PKG_DIST}
      - PKG_VERS=${PKG_VERS}
      - PKG_KIND=${PKG_KIND}
      - GIT_VERS=${GIT_VERS}
    command:
      - /opt/entrypoint/entrypoint.bash
