version: "3.0"
services:

  mysqlbinlog:
    image: proxysql/packaging-mysqlbinlog:build-${IMG_NAME}
#    build: ./docker/build/build-${IMG_NAME}
    volumes:
      - ./docker/build/:/opt/entrypoint/
      - ./:/opt/proxysql_mysqlbinlog/
    environment:
      - IMG_NAME=${IMG_NAME}
      - PKG_NAME=${PKG_NAME}
      - PKG_VERS=${PKG_VERS}
      - PKG_TYPE=${PKG_TYPE}
      - GIT_VERS=${GIT_VERS}
    command:
      - /opt/entrypoint/entrypoint.bash

